
@model List<Car>

    <div class="container">
    <div class="row mt-2 mb-3">
        <div class="col-6 text-primary">
            <h2 class="text-primary">Car List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Car" asp-action="Create" class="btn btn-outline-dark"> 
                <i class="bi bi-patch-plus"></i> Create New
            </a>
        </div>
    </div>
   </div>


<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>Car Name</th>
        <th>Car Color</th>
    </tr>
</thead>

<tbody>
    @foreach(var obj in Model.OrderBy(u => u.CarName))
    {
            <tr>
                <td>@obj.CarName</td>
                <td>@obj.CarColor</td>
                <td>
                    <div class="btn-group role=group w-75">
                        <a asp-controller="Car" asp-action="Edit" asp-route-carId="@obj.CarId" class="btn btn-outline-dark mx-2">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                        <a asp-controller="Car" asp-action="Delete" asp-route-carId="@obj.CarId" class="btn btn-outline-danger mx-2">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                       

                    
                </td>

            </tr>
    }
</tbody>

</table>
