@model Car
<form method="post">
<div class="p-3 mt-4">
    <div class="row pb-2">
            <h2 class="text-primary text-center"> Create Category </h2>
        <hr />
    </div>

    <div>
        <label asp-for="CarName" class="p-0"></label>
            <input asp-for="CarName" class="form-control mb-1 border-2 shadow" />
    </div>
    <div>
        <label asp-for="CarColor" class="p-0 mt-4"></label>
            <input asp-for="CarColor" class="form-control mb-3 border-2 shadow" />
    </div>
    <button type="submit" class="btn btn-primary btn-outline" style="width:150px">Create</button>
    <a asp-controller="Car" asp-action="Index" class="btn btn-outline border form-control" style="width:200px" >Back To List</a>


    </div>
    
</form>

